#Первая обученная модель

## Обучающий набор данных

*Модель будет обучаться на обучающей выборке. В машинном обучении в строках записываются объекты а в столбцах признаки, признак, который нужно предсказать - целевой, в нашей задаче целевой признак - last_price*

## Обучение с учителем

*Мы имеем обучающий набор данных и целевой признак, который нужно предсказать по остальным признакам - цена продажи жилья. Такие задачи относятся к классу 'Обучение с учителем', учитель ставит вопросы(признаки) и указывает ответы(целевой признак) и ничего не объясняет. Если целевой признак катгориальный, то решается задача классификации, когда категории две - речь идет о бинарной классификации. Если целевой признак количественный, то решается задача регрессии*

## Классификация и регрессия

1.Преобразуйте исходную задачу в задачу классификации. Создайте новый признак price_class (англ. «ценовой класс»). Чтобы установить его значение, сравните цену с 5 650 000:

если цена больше, значение price_class — единица, 1.0;

если цена меньше или равна, значение price_class — ноль, 0.0.

Функция print() выведет на экран первые пять строк.

In [ ]:
import pandas as pd

df = pd.read_csv('train_data.csv')

df.loc[df['last_price'] > 5_650_000, 'price_class'] = 1
df.loc[df['last_price'] <= 5_650_000, 'price_class'] = 0

display(df.head())

,last_price,total_area,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,open_plan,kitchen_area,balcony,airports_nearest,cityCenters_nearest,price_class
0,5400000.0,59.0,2,2.87,4.0,31.5,2,0.0,0.0,0.0,6.6,0.0,20485.0,8180.0,0.0
1,13200000.0,109.0,4,3.15,5.0,72.0,2,0.0,0.0,0.0,12.2,0.0,42683.0,8643.0,1.0
2,7000000.0,74.5,3,2.58,10.0,49.0,9,0.0,0.0,0.0,10.8,0.0,14078.0,16670.0,1.0
3,3200000.0,37.4,1,2.50,9.0,20.0,4,0.0,0.0,0.0,6.2,2.0,17792.0,17699.0,0.0
4,6650000.0,64.9,3,2.65,12.0,41.9,11,0.0,0.0,0.0,10.4,0.0,14767.0,10573.0,1.0

2.Многие библиотеки машинного обучения требуют, чтобы признаки были сохранены в отдельных переменных. Объявите две переменные:

features (англ. «признаки») — запишите в неё признаки;

target (англ. «цель») — целевой признак.

Выведите на экран размеры этих переменных (уже в прекоде).

In [ ]:
features = df.drop(['last_price', 'price_class'], axis=1)
target = df['price_class']

## Модели и алгоритмы

## Библиотека scikit-learn

1.
Начните с обучения модели. В пятом уроке вы сохранили обучающий набор данных в переменных features и target. Чтобы запустить обучение, вызовите метод fit() (англ. «подогнать») и передайте ему как параметр данные.

model.fit(features, target)

Допишите код. Выведите значение переменной на экран (уже сделано в прекоде).

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

model.fit(features, target)
print(model)

DecisionTreeClassifier()

2.
Теперь в переменной model полноценная модель. Чтобы предсказать ответы, нужно вызвать метод predict() (англ. «предсказать») и передать ему таблицу с признаками новых объектов.

answers = model.predict(new_features) 

Создайте два новых объекта и посмотрите на результаты предсказаний. Объекты задачи — это дома. Выпишите значения признаков каждого:

В первой квартире целых 12 комнат общей площадью 900 кв. м. Из них жилых 409.7 кв. м, а кухня — 112 кв. м.

Во второй квартире 2 комнаты общей площадью 109 кв. м. Из них жилых 32 кв. м, а кухня — 40.5 кв. м.

Остальные признаки не различаются или разнятся не так сильно. Их мы уже заполнили в прекоде. Предскажите ответ и напечатайте результат на экране.

In [ ]:
new_features = pd.DataFrame(
    [[None, None, 2.8, 25, None, 25, 0, 0, 0, None, 0, 30706.0, 7877.0],
     [None, None, 2.75, 25, None, 25, 0, 0, 0, None, 0, 36421.0, 9176.0]],
    columns=features.columns)

new_features.loc[0, 'total_area'] = 900.0
new_features.loc[0, 'rooms'] = 12
new_features.loc[0, 'living_area'] = 409.7
new_features.loc[0, 'kitchen_area'] = 112
new_features.loc[1, 'total_area'] = 109
new_features.loc[1, 'rooms'] = 2
new_features.loc[1, 'living_area'] = 32
new_features.loc[1, 'kitchen_area'] = 40.5

answers = model.predict(new_features)
display(answers)

array([1., 0.])

*features, target -> from sklearn.tree import DecisionTreeClassifier -> model=DecisionTreeClassifier() -> model.fit(features, target) -> answers=model.predict(new_features)*

# Качество модели

In [ ]:
model = DecisionTreeClassifier(random_state=12345)